#sign {
    max-width: 350px;
}

nav, section, footer {
    max-width: 1100px;
    margin: 0 auto;
}

nav {
    height: 48px;
}

#notification-indicator {
    border-radius:50%;
    width: 14px;
    height: 14px;
    margin-left:-16px;
    margin-top:-4px;
}

#comment > .list-item {
    align-items: flex-start;
}

.divider {
    margin: 1.5rem 0 0
}

.section {
    padding: 1.5rem 0 0
}

.tabs.is-toggle a {
    background-color: white
}

.pagination > a {
    background-color: white
}

.pagination {
    padding-bottom: 1.5rem;
}