#sign {
    max-width: 350px;
}

nav, section, footer {
    max-width: 1100px;
    margin: 0 auto;
}

nav {
    height: 48px;
}

#notification-indicator {
    border-radius:50%;
    width: 14px;
    height: 14px;
    margin-left:-16px;
    margin-top:-4px;
}

#comment > .list-item {
    align-items: flex-start;
}

.divider {
    margin: 1.5rem 0 0
}

.section {
    padding: 1.5rem 0 0
}

.tabs.is-toggle a {
    background-color: white
}

.pagination > a {
    background-color: white
}

.pagination {
    padding-bottom: 1.5rem;
}
  
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    min-width: 300px;
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 2s ease-in-out;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

pre {
    overflow-x: auto;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    padding: 1rem;
}

.list-item-content {
    max-width: 85%;
}