{% extends "layout.html" %}

{% block content %}
<div class="box content">
    <div class="columns is-multiline">
        {% for img in imgs %}
        <div class="column is-half">
            <div>
                <a href="/static/upload/{{img.2}}" target="_blank">
                    <img src="/static/upload/{{img.2}}">
                </a>
            </div>
            <pre>/static/upload/{{img.2}}</pre>
            <nav class="level is-mobile">
                <div class="level-left">
                    <div class="tag is-rounded">
                        <a class="level-item image is-16x16" href="/gallery/{{img.0}}">
                            <img class="is-rounded" src="/static/avatars/{{img.0}}.png">
                        </a>
                    </div>
                    <button class="level-item tag is-rounded has-text-danger" popovertarget="delete_{{img.2}}" title="{{ "delete"|l10n(page_data.lang) }}">
                        <span class="icon">
                            <i class="fa-solid fa-trash"></i>
                        </span>
                    </button>
                    <div class="notification" id="delete_{{img.2}}" popover>
                        <h3>{{ "delete_permanently"|l10n(page_data.lang) }}</h3>
                        <p>{{ "delete_sure"|l10n(page_data.lang) }}</p>
                        <button class="button is-small" popovertarget="delete_{{img.2}}" popovertargetaction="hide">
                            {{ "no"|l10n(page_data.lang) }}
                        </button>
                        <a class="button is-small is-danger" href="/image/delete/{{img.0}}/{{img.1}}">
                            {{ "yes"|l10n(page_data.lang) }}
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        {% endfor %}
    </div>
</div>

<div class="divider"></div>

<nav class="pagination">
    {% if anchor < n %}
        <a class="pagination-previous" disabled>{{ "prev"|l10n(page_data.lang) }}</a>
    {% else %}
        <a class="pagination-previous" href="/admin/gallery?anchor={{anchor - n}}&is_desc={{is_desc}}">{{ "prev"|l10n(page_data.lang) }}</a>
    {% endif %}

    {% if imgs.len() < n %}
        <a class="pagination-next" disabled >{{ "next"|l10n(page_data.lang) }}</a>
    {% else %}
        <a class="pagination-next" href="/admin/gallery?anchor={{anchor + n}}&is_desc={{is_desc}}">{{ "next"|l10n(page_data.lang) }}</a>
    {% endif %}
</nav>
{% endblock %}