{% extends "layout.html" %}

{% block content %}
<div class="level is-mobile px-3">
    <div class="level-left">
        <div class="tabs is-small is-toggle is-toggle-rounded">
            <ul>
                {% match username %}{% when Some with (val) %}
                    <li class="is-active"><a href="/feed/{{uid}}">{{val}}'s public feeds</a></li>
                {% else %}
                    {% match filter.as_deref() %}{% when Some with ("star") %}
                    <li><a href="/feed/{{uid}}">All</a></li>
                    <li class="is-active"><a href="/feed/{{uid}}?filter=star">Star</a></li>
                    {% else %}
                    <li class="is-active"><a href="/feed/{{uid}}">All</a></li>
                    <li><a href="/feed/{{uid}}?filter=star">Star</a></li>
                    {% endmatch %}
                {% endmatch %}
            </ul>
        </div>
    </div>
    <div class="level-right">
        {% match filter.as_deref() %}{% when Some with ("item") %}
            {% match filter_value %}{% when Some with (fid) %}
                <a href="/feed/subscribe/{{uid}}/{{fid}}">
                    {% if username.is_some() %}
                    <button class="button is-success is-small is-rounded">Add to my feed</button>
                    {% else %}
                    <button class="button is-small is-rounded is-danger">Unsubscribe</button>
                    {% endif %}
                </a>
            {% else %}{% endmatch %}
        {% else %}
            <a href="/feed/add"><button class="button is-success is-small is-rounded">New Feed</button></a>
        {% endmatch %}
    </div>
</div>

<div class="list has-visible-pointer-controls has-overflow-ellipsis box">
    {% for item in items %}
    <div class="list-item">
        <div class="list-item-content">
            <div class="list-item-title">
                <strong><a href="{{item.link}}" target="_blank">{{item.title}}</a></strong>
            </div>
            <div class="list-item-description">
                <span class="tag">{{item.updated}}</span>
            </div>
        </div>
        <div class="list-item-controls">
            <a href="/feed/star/{{item.item_id}}">
                <svg width="24" height="24" stroke-width="0.5" viewBox="0 0 24 24" 
                {% if item.is_starred  %}
                    fill="hsl(48, 100%, 67%)"
                {% else %}
                    fill="none"
                {% endif %}
                xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.587 8.236l2.598-5.232a.911.911 0 011.63 0l2.598 5.232 5.808.844a.902.902 0 01.503 1.542l-4.202 4.07.992 5.75c.127.738-.653 1.3-1.32.952L12 18.678l-5.195 2.716c-.666.349-1.446-.214-1.319-.953l.992-5.75-4.202-4.07a.902.902 0 01.503-1.54l5.808-.845z" stroke="#363636" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

<nav class="pagination">
    {% if anchor < n %}
        <a class="pagination-previous" disabled>Prev</a>
    {% else %}
        {% match filter %} {% when Some with (val) %}
            {% match filter_value %} {% when Some with (value) %}
                <a class="pagination-previous" href="/feed/{{uid}}?anchor={{anchor - n}}&is_desc={{is_desc}}&filter={{val}}&filter_value={{value}}">Prev</a>
            {% else %}
                <a class="pagination-previous" href="/feed/{{uid}}?anchor={{anchor - n}}&is_desc={{is_desc}}">Prev</a>
            {% endmatch %}
        {% else %}
            <a class="pagination-previous" href="/feed/{{uid}}?anchor={{anchor - n}}&is_desc={{is_desc}}">Prev</a>
        {% endmatch %}
    {% endif %}

    {% if items.len() < n %}
        <a class="pagination-next" disabled>Next</a>
    {% else %}
        {% match filter %} {% when Some with (val) %}
            {% match filter_value %} {% when Some with (value) %}
                <a class="pagination-next" href="/feed/{{uid}}?anchor={{anchor + n}}&is_desc={{is_desc}}&filter={{val}}&filter_value={{value}}">Next</a>
            {% else %}
                <a class="pagination-next" href="/feed/{{uid}}?anchor={{anchor + n}}&is_desc={{is_desc}}">Next</a>
            {% endmatch %}
        {% else %}
            <a class="pagination-next" href="/feed/{{uid}}?anchor={{anchor + n}}&is_desc={{is_desc}}">Next</a>
        {% endmatch %}
    {% endif %}
</nav>

{% endblock %}
        

{% block aside %}

<div class="box">
    {% match username %} {% when None %}
        <a href="/feed/update">
            <span class="tag is-success">Refresh Feeds</span>
        </a>
    {% else %}{% endmatch %}
</div>

<div class="box">
    {% match filter_value %} {% when Some(val) %}
        {% for folder in folders %}
        <a href="/feed/{{uid}}?filter=folder&filter_value={{folder.0}}">
            {% if folder.0 == val %}
            <span class="tag is-success">{{folder.0}}</span>
            {% else %}
            <span class="tag is-info">{{folder.0}}</span>
            {% endif %}
        </a>
        {% endfor %}
    {% else %}
        {% for folder in folders %}
        <a href="/feed/{{uid}}?filter=folder&filter_value={{folder.0}}">
            <span class="tag is-info">{{folder.0}}</span>
        </a>
        {% endfor %}
    {% endmatch %}
</div>

<div class="box">
    {% for folder in folders %}
    {% for feed in folder.1 %}
    <div class="py-1">
        <a href="/feed/{{uid}}?filter=item&filter_value={{feed.feed_id}}">
            {% if feed.is_active %}
            <span class="tag is-success">
                {% if !feed.is_public %}
                <span class="icon">
                    <svg width="32" height="32" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <title>Only you can see</title>
                        <path d="M16 12H17.4C17.7314 12 18 12.2686 18 12.6V19.4C18 19.7314 17.7314 20 17.4 20H6.6C6.26863 20 6 19.7314 6 19.4V12.6C6 12.2686 6.26863 12 6.6 12H8M16 12V8C16 6.66667 15.2 4 12 4C8.8 4 8 6.66667 8 8V12M16 12H8" stroke="#363636" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </span>&nbsp
                {% endif %}
                {{feed.title}}
            </span>
            {% else %}
            <span class="tag is-info">
                {% if !feed.is_public %}
                <span class="icon">
                    <svg width="32" height="32" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <title>Only you can see</title>
                        <path d="M16 12H17.4C17.7314 12 18 12.2686 18 12.6V19.4C18 19.7314 17.7314 20 17.4 20H6.6C6.26863 20 6 19.7314 6 19.4V12.6C6 12.2686 6.26863 12 6.6 12H8M16 12V8C16 6.66667 15.2 4 12 4C8.8 4 8 6.66667 8 8V12M16 12H8" stroke="#363636" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </span>&nbsp
                {% endif %}
                {{feed.title}}
            </span>
            {% endif %}
        </a>
    </div>
    {% endfor %}
    {% endfor %}
</div>

{% endblock %}
