{% extends "layout.html" %}

{% block csp %}
<meta http-equiv="Content-Security-Policy" content="default-src 'self';
    img-src 'self' *.freedit.eu
    {% if allow_img %}
         data: https:;
    {% endif %}
    script-src 'self'; style-src 'self' 'unsafe-inline'; object-src 'none';
    font-src 'self'; form-action 'self'; frame-src 'none'; media-src 'self'; manifest-src 'none'; worker-src 'none';">
{% endblock %}

{% block tabs %}
    <a class="navbar-item" href="/inn/0">{{ "inn"|l10n(page_data.lang) }}</a>
    <a class="navbar-item" href="/solo/user/0">{{ "solo"|l10n(page_data.lang) }}</a>
{% endblock %}

{% block content %}
<div class="media box">
    <div class="media-content">
        <div class="content">
            <p class="title">{{item.title|truncate(100)}}</p>
            <p>
                <span class="mr-2">
                    <span class="icon is-small mr-1">
                        <i class="fa-solid fa-calendar"></i>
                    </span>
                    {{item.updated}}
                </span>
                <span class="mr-2">
                    <span class="icon is-small mr-1">
                        <i class="fa-solid fa-anchor"></i>
                    </span>
                    {{item.feed_title}}
                </span>
                <span class="icon is-small mr-1">
                    <i class="fa-solid fa-globe"></i>
                </span>
                <a class="mr-2" href="{{item.link}}">
                    {{ "source"|l10n(page_data.lang) }}
                </a>
                <span class="icon is-small mr-1">
                    <i class="fa-solid fa-image"></i>
                </span>
                <a class="mr-2" href="/feed/read/{{item.item_id}}?allow_img=true">
                    {{ "load_image"|l10n(page_data.lang) }}
                </a>
            </p>
        </div>
    </div>
    <div class="media-right">
        <a class="icon" href="/feed/star/{{item.item_id}}">
            <i class="fa-solid fa-star {% if item.is_starred %}is-warning{% endif %}"></i>
        </a>
    </div>
</div>

<div class="box content">
    {% match item.podcast %} {% when Some(val) %}
        {% if val.audio_downloaded %}
            <div id="transcript-wrapper">
                <div id="transcript">Transcript is not ready.</div>
            </div>
            </br>
        {% endif %}
    {% else %} {% endmatch %}

    {{item.content}}
</div>

{% endblock %}

{% block box %}
    {% match item.podcast %} {% when Some(val) %}
        {% if val.audio_downloaded %}
            <div class="box audio-player">
                <audio
                    src="/static/podcasts/{{ item.item_id }}.mp3"
                    id="audio"
                    controls
                    data-audio-url="/static/podcasts/{{ val.enclosure_url }}"
                    data-srt-url="/static/podcasts/{{ item.item_id }}.srt">
                </audio>
            </div>
            <script src="/static/js/transcript.js?v={{ crate::VERSION }}"></script>
        {% endif %}
    {% else %} {% endmatch %}
{% endblock %}
