{% extends "layout.html" %}

{% block og %}
<link rel="alternate" type="application/atom+xml" href="/inn/{{iid}}/atom.xml" />
{% endblock %}

{% block tabs %}
    <li class="is-active"><a href="/inn/0">{{ "inn"|l10n(page_data.lang) }}</a></li>
    <li><a href="/solo/user/0">{{ "solo"|l10n(page_data.lang) }}</a></li>
{% endblock %}

{% block content %}
<div class="level is-mobile px-3">
    <div class="level-left">
        <div class="tabs is-small is-toggle is-toggle-rounded">
            <ul>
                {% if page_data.claim.is_some() %}
                    {% match filter.as_deref() %} {% when Some with ("joined") %}
                        <li><a href="/inn/0">{{ "all"|l10n(page_data.lang) }}</a></li>
                        <li class="is-active"><a href="/inn/0?filter=joined">{{ "joined"|l10n(page_data.lang) }}</a></li>
                        <li><a href="/inn/0?filter=following">{{ "following"|l10n(page_data.lang) }}</a></li>
                    {% when Some with ("following") %}
                        <li><a href="/inn/0">{{ "all"|l10n(page_data.lang) }}</a></li>
                        <li><a href="/inn/0?filter=joined">{{ "joined"|l10n(page_data.lang) }}</a></li>
                        <li class="is-active"><a href="/inn/0?filter=following">{{ "following"|l10n(page_data.lang) }}</a></li>
                    {% when Some with (uid) %}
                        <li><a href="/inn/0">{{ "all"|l10n(page_data.lang) }}</a></li>
                        <li><a href="/inn/0?filter=joined">{{ "joined"|l10n(page_data.lang) }}</a></li>
                        <li><a href="/inn/0?filter=following">{{ "following"|l10n(page_data.lang) }}</a></li>
                        {% match username %} {% when Some with (val) %}
                            <li class="is-active"><a href="/inn/0?filter={{uid}}">👤 {{val}}</a></li>
                        {% else %}{% endmatch %}
                    {% else %}
                        {% if iid > 0 %}
                            <li><a href="/inn/0">{{ "all"|l10n(page_data.lang) }}</a></li>
                            <li><a href="/inn/0?filter=joined">{{ "joined"|l10n(page_data.lang) }}</a></li>
                            <li><a href="/inn/0?filter=following">{{ "following"|l10n(page_data.lang) }}</a></li>
                            <li class="is-active"><a href="/inn/{{iid}}">⚓ {{inn_name}}</a></li>
                        {% else %}
                            <li class="is-active"><a href="/inn/0">{{ "all"|l10n(page_data.lang) }}</a></li>
                            <li><a href="/inn/0?filter=joined">{{ "joined"|l10n(page_data.lang) }}</a></li>
                            <li><a href="/inn/0?filter=following">{{ "following"|l10n(page_data.lang) }}</a></li>
                        {% endif %}
                    {% endmatch %}
                {% else %}
                    {% match filter.as_deref() %}{% when Some with (uid) %}
                        <li><a href="/inn/0">{{ "all"|l10n(page_data.lang) }}</a></li>
                        <li class="is-active"><a href="/inn/{{iid}}?filter={{uid}}">👤 {{uid}}</a></li>
                    {% else %}
                        {% if iid > 0 %}
                            <li><a href="/inn/0">{{ "all"|l10n(page_data.lang) }}</a></li>
                            <li class="is-active"><a href="/inn/{{iid}}">⚓ {{inn_name}}</a></li>
                        {% else %}
                            <li class="is-active"><a href="/inn/0">{{ "all"|l10n(page_data.lang) }}</a></li>
                        {% endif %}
                    {% endmatch %}
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="level-right">
        <div class="buttons">
            {% if iid > 0 %}
                {% if inn_role >= 4 %}
                    <a href="/post/edit/0?iid={{iid}}"><button class="button is-success is-small is-rounded">{{ "new_post"|l10n(page_data.lang) }}</button></a>
                    <a href="/inn/{{iid}}/join"><button class="button is-small is-rounded is-hidden-mobile is-danger">{{ "exit"|l10n(page_data.lang) }}</button></a>
                {% else if inn_role == 3 %}
                    <button class="button is-success is-small is-rounded" title="You are limited to comment in this Inn">Limited</button>
                    <a href="/inn/{{iid}}/join"><button class="button is-small is-rounded is-hidden-mobile is-danger">{{ "exit"|l10n(page_data.lang) }}</button></a>
                {% else if inn_role == 2 %}
                    <button class="button is-success is-small is-rounded" title="Your request to join this Inn has been rejected">{{ "rejected"|l10n(page_data.lang) }}</button>
                {% else if inn_role == 1 %}
                    <button class="button is-success is-small is-rounded">{{ "pending"|l10n(page_data.lang) }}</button>
                {% else %}
                    <a href="/inn/{{iid}}/join"><button class="button is-success is-small is-rounded">{{ "join"|l10n(page_data.lang) }}</button></a>
                {% endif %}
            {% else %}
                <a href="/post/edit/0"><button class="button is-success is-small is-rounded">{{ "new_post"|l10n(page_data.lang) }}</button></a>
            {% endif %}
        </div>
    </div>
</div>

<div class="list has-visible-pointer-controls has-overflow-ellipsis box">
    {% for post in posts %}
    <div class="list-item">
        <div class="list-item-image">
            <figure class="image is-48x48">
                <p><a href="/user/{{post.uid}}" title="author: {{post.username}}"><img src="/static/avatars/{{post.uid}}.png"></a></p>
            </figure>
        </div>
        <div class="list-item-content">
            <div class="list-item-title"><strong>
                <a href="/post/{{post.iid}}/{{post.pid}}">
                {% if post.is_pinned %} 📌 {% endif %}{{post.title}}</a></strong>
            </div>
            <div class="list-item-description">
                <span class="tag is-light is-link"><a href="/inn/{{post.iid}}">{{post.inn_name}}</a></span>
                <span class="tag">{{post.created_at}}</span>
                {% match post.last_reply %}{% when Some(user) %}
                <span class="tag" title="last reply"><a href="/user/{{user.0}}">{{user.1}}</a></span>
                {% else %}{% endmatch %}
            </div>
        </div>
        <div class="list-item-controls">
            {% if post.comment_count >0 %}
                <a href="/post/{{post.iid}}/{{post.pid}}#{{post.comment_count}}"><span class="tag is-info">{{post.comment_count}}</span></a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<nav class="pagination">
    {% if anchor < n %}
        <a class="pagination-previous" disabled>{{ "prev"|l10n(page_data.lang) }}</a>
    {% else %}
        {% match filter.as_deref() %} {% when Some with (val) %}
            <a class="pagination-previous" href="/inn/{{iid}}?anchor={{anchor - n}}&is_desc={{is_desc}}&filter={{val}}">{{ "prev"|l10n(page_data.lang) }}</a>
        {% else %}
            <a class="pagination-previous" href="/inn/{{iid}}?anchor={{anchor - n}}&is_desc={{is_desc}}">{{ "prev"|l10n(page_data.lang) }}</a>
        {% endmatch %}
    {% endif %}

    {% if posts.len() < n %}
        <a class="pagination-next" disabled >{{ "next"|l10n(page_data.lang) }}</a>
    {% else %}
        {% match filter.as_deref() %} {% when Some with (val) %}
            <a class="pagination-next" href="/inn/{{iid}}?anchor={{anchor + n}}&is_desc={{is_desc}}&filter={{val}}">{{ "next"|l10n(page_data.lang) }}</a>
        {% else %}
            <a class="pagination-next" href="/inn/{{iid}}?anchor={{anchor + n}}&is_desc={{is_desc}}">{{ "next"|l10n(page_data.lang) }}</a>
        {% endmatch %}
    {% endif %}
</nav>
{% endblock %}

{% block box %}
{% if iid > 0 %}
<div class="box">
    <div class="level-item has-text-centered">
        <figure class="image is-128x128">
            <a href="/inn/{{iid}}"><img class="is-rounded" src="/static/inn_icons/{{iid}}.png"></a>
        </figure>
    </div>
    <br>
    <div class="content">
        <p>{{about}}</p>
    </div>
    <nav class="level is-mobile">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">{{ "members"|l10n(page_data.lang) }}</p>
                <div class="title">
                    <a href="/user/list?filter=inn&id={{iid}}">
                        {{inn_users_count}}
                    </a>
                </div>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">{{ "posts"|l10n(page_data.lang) }}</p>
                <div class="title">
                    <a href="/inn/{{iid}}">
                        {{counts}}
                    </a>
                </div>
            </div>
        </div>
        {% if is_mod %}
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">{{ "mod"|l10n(page_data.lang) }}</p>
                <div class="title">
                    <a href="/mod/{{iid}}">
                        <span class="icon">
                            {% include "icons/setting.svg" %}
                        </span>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Rss</p>
                <div class="title">
                    <a href="/inn/{{iid}}/atom.xml">
                        <span class="icon">
                            {% include "icons/rss.svg" %}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="buttons">
        {% if inn_role >= 4 %}
            <a href="/post/edit/0?iid={{iid}}" class="button is-fullwidth is-success is-rounded">{{ "new_post"|l10n(page_data.lang) }}</a>
        {% else if inn_role == 3 %}
            <button class="button is-fullwidth is-rounded" title="You are limited to comment in this Inn">{{ "limited"|l10n(page_data.lang) }}</button>
        {% else if inn_role == 2 %}
            <button class="button is-fullwidth is-rounded" title="Your request to join this Inn has been rejected">{{ "rejected"|l10n(page_data.lang) }}</button>
        {% else if inn_role == 1 %}
            <button class="button is-fullwidth is-rounded">{{ "pending"|l10n(page_data.lang) }}</button>
        {% else %}
            <a href="/inn/{{iid}}/join" class="button is-fullwidth is-success is-rounded">{{ "join"|l10n(page_data.lang) }}</a>
        {% endif %}
    </div>
</div>
<div class="box">
    <details>
        <summary>{{ "description"|l10n(page_data.lang) }}</summary>
        <div class="content">
            <br>
            {{description}}
        </div>
    </details>
</div>

{% else %}
<div class="box">
    <div class="content">
        {{page_data.site_description}}
    </div>
</div>
{% endif %}

<div class="list has-visible-pointer-controls has-overflow-ellipsis box">
    <div class="list-item">
        <div class="list-item-content">
            <div class="list-item-title">{{ "explore"|l10n(page_data.lang) }} <a href="/inn/list">⚓ inns</a></div>
        </div>
    </div>
    {% for inn in inns %}
    <div class="list-item">
        <div class="list-item-image">
            <figure class="image is-64x64">
                <a href="/inn/{{inn.0}}"><img class="is-rounded" src="/static/inn_icons/{{inn.0}}.png"></a>
            </figure>
        </div>
        <div class="list-item-content">
            <div class="list-item-title"><a href="/inn/{{inn.1}}">{{inn.1}}</a></div>
        </div>

        <div class="list-item-controls">
            {% if inn.2 %}
                <a href="/post/edit/0?iid={{inn.0}}"><button class="button is-success is-small is-rounded">{{ "new"|l10n(page_data.lang) }}</button></a>
            {% else %}
                <a href="/inn/{{inn.0}}/join"><button class="button is-success is-small is-rounded">{{ "join"|l10n(page_data.lang) }}</button></a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<div class="box">
    <div class="list-item">
        <div class="list-item-content">
            <div class="list-item-title">{{ "active"|l10n(page_data.lang) }} <a href="/user/list">👤 {{ "users"|l10n(page_data.lang) }}</a></div>
        </div>
    </div>
    <div class="is-flex is-flex-wrap-wrap m-2">
        {% for user in recommend_users %}
            <figure class="image is-32x32 m-1 is-1by1 pt-0">
                <a href="/user/{{user.0}}"><img class="is-rounded" src="/static/avatars/{{user.0}}.png" title="{{user.1}}"></a>
            </figure>
        {% endfor %}
    </div>
</div>

{% endblock %}