{% extends "layout.html" %} 

{% block tabs %}
    {% if page_data.claim.is_some() %}
    <li class="is-active"><a href="/inn/0">Inn</a></li>
    <li><a href="/solo/user/0">Solo</a></li>
    <li><a href="/inn/list">Explore</a></li>
    {% else %}
    <li class="is-active"><a href="/static/inn/0/1.html">Inn</a></li>
    <li><a href="/solo/user/0">Solo</a></li>
    <li><a href="/static/inn/list/1.html">Explore</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<div class="level is-mobile px-3">
    <div class="level-left">
        <div class="tabs is-small is-toggle is-toggle-rounded">
            <ul>
                {% if page_data.claim.is_some() %}
                    {% match filter.as_deref() %} {% when Some with ("joined") %}
                        <li><a href="/inn/0">All</a></li>
                        <li class="is-active"><a href="/inn/0?filter=joined">Joined</a></li>
                        <li><a href="/inn/0?filter=following">Following</a></li>
                    {% when Some with ("following") %}
                        <li><a href="/inn/0">All</a></li>
                        <li><a href="/inn/0?filter=joined">Joined</a></li>
                        <li class="is-active"><a href="/inn/0?filter=following">Following</a></li>
                    {% when Some with (uid) %}
                        <li><a href="/inn/0">All</a></li>
                        <li><a href="/inn/0?filter=joined">Joined</a></li>
                        <li><a href="/inn/0?filter=following">Following</a></li>
                        {% match username %} {% when Some with (val) %}
                            <li class="is-active"><a href="/inn/0?filter={{uid}}">👤 {{val}}</a></li>
                        {% else %}{% endmatch %}
                    {% else %}
                        {% if iid > 0 %}
                            <li><a href="/inn/0">All</a></li>
                            <li><a href="/inn/0?filter=joined">Joined</a></li>
                            <li><a href="/inn/0?filter=following">Following</a></li>
                            <li class="is-active"><a href="/inn/{{iid}}">⚓ {{inn_name}}</a></li>
                        {% else %}
                            <li class="is-active"><a href="/inn/0">All</a></li>
                            <li><a href="/inn/0?filter=joined">Joined</a></li>
                            <li><a href="/inn/0?filter=following">Following</a></li>
                        {% endif %}
                    {% endmatch %}
                {% else %}
                    {% match filter.as_deref() %}{% when Some with (uid) %}
                        <li><a href="/inn/0">All</a></li>
                        <li class="is-active"><a href="/inn/{{iid}}?filter={{uid}}">👤 {{uid}}</a></li>
                    {% else %}
                        {% if iid > 0 %}
                            <li><a href="/inn/0">All</a></li>
                            <li class="is-active"><a href="/inn/{{iid}}">⚓ {{inn_name}}</a></li>
                        {% else %}
                            <li class="is-active"><a href="/inn/0">All</a></li>
                        {% endif %}
                    {% endmatch %}
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="level-right">
        <div class="buttons">
            {% if iid > 0 %}
                {% if inn_role >= 4 %}
                    <a href="/post/{{iid}}/edit/0"><button class="button is-primary is-small is-rounded">New Post</button></a>
                    <a href="/inn/{{iid}}/join"><button class="button is-small is-rounded is-hidden-mobile">Exit</button></a>
                {% else if inn_role == 3 %}
                    <button class="button is-primary is-small is-rounded" title="You are limited to comment in this Inn">Limited</button>
                    <a href="/inn/{{iid}}/join"><button class="button is-small is-rounded is-hidden-mobile">Exit</button></a>
                {% else if inn_role == 2 %}
                    <button class="button is-primary is-small is-rounded" title="Your request to join this Inn has been denied">Denied</button>
                {% else if inn_role == 1 %}
                    <button class="button is-primary is-small is-rounded">Pending</button>
                {% else %}
                    <a href="/inn/{{iid}}/join"><button class="button is-primary is-small is-rounded">Join</button></a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

<div class="list has-visible-pointer-controls has-overflow-ellipsis box">
    {% for post in posts %}
    <div class="list-item">
        <div class="list-item-image">
            <figure class="image is-48x48">
                <p><a href="/user/{{post.uid}}" title="{{post.username}}"><img src="/static/avatars/{{post.uid}}.png"></a></p>
            </figure>
        </div>
        <div class="list-item-content">
            <div class="list-item-title"><strong>
                {% if page_data.claim.is_some() %}
                <a href="/post/{{post.iid}}/{{post.pid}}">
                {% else %}
                <a href="/static/post/{{post.pid}}.html">
                {% endif %}
                {{post.title}}</a></strong>
            </div>
            <div class="list-item-description">
                <span class="tag is-light is-link"><a href="/inn/{{post.iid}}">{{post.inn_name}}</a></span>
                <span class="tag">{{post.created_at}}</span>
            </div>
        </div>
        <div class="list-item-controls">
            {% if post.comment_count >0 %} 
                <a href="/post/{{post.iid}}/{{post.pid}}#{{post.comment_count}}"><span class="tag is-info">{{post.comment_count}}</span></a>
            {% endif %}
            {% if post.is_hidden %}
                <span class="tag is-info">hidden</span>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<nav class="pagination">
    {% if anchor < n %}
        <a class="pagination-previous" disabled>Prev</a>
    {% else %}
        {% match filter.as_deref() %} {% when Some with (val) %}
            <a class="pagination-previous" href="/inn/{{iid}}?anchor={{anchor - n}}&is_desc={{is_desc}}&filter={{val}}">Prev</a>
        {% else %}
            <a class="pagination-previous" href="/inn/{{iid}}?anchor={{anchor - n}}&is_desc={{is_desc}}">Prev</a>
        {% endmatch %}
    {% endif %}

    {% if posts.len() < n %}
        <a class="pagination-next" disabled >Next</a>
    {% else %}
        {% match filter.as_deref() %} {% when Some with (val) %}
            <a class="pagination-next" href="/inn/{{iid}}?anchor={{anchor + n}}&is_desc={{is_desc}}&filter={{val}}">Next</a>
        {% else %}
            <a class="pagination-next" href="/inn/{{iid}}?anchor={{anchor + n}}&is_desc={{is_desc}}">Next</a>
        {% endmatch %}
    {% endif %}
</nav>
{% endblock %}

{% block box %}
{% if iid > 0 %}
<div class="box">
    <div class="level-item has-text-centered">
        <figure class="image is-128x128">
            <a href="/inn/{{iid}}"><img class="is-rounded" src="/static/inn_icons/{{iid}}.png"></a>
        </figure>
    </div>
    <br>
    <div class="content has-text-centered">
        <h4">{{about}}</h4>
    </div>
    <nav class="level is-mobile">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Members</p>
                <span class="icon-text icon-text-info">
                    <span class="icon">
                        <p class="title">
                            <a href="/user/list?filter=inn&id={{iid}}">{{inn_users_count}}</a>
                        </p>
                    </span>
                </span>
            </div>
        </div>
        {% if is_mod %}
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Mod</p>
                <span class="icon-text icon-text-info">
                    <span class="icon">
                        <p class="title"><a href="/mod/{{iid}}"><span class="icon">⚙️</span></a></p>
                    </span>
                </span>
            </div>
        </div>
        {% endif %}
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Rss</p>
                <span class="icon-text icon-text-info">
                    <a href="/inn/{{iid}}/feed">
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <title>Rss</title>
                                <path d="M108.56 342.78a60.34 60.34 0 1060.56 60.44 60.63 60.63 0 00-60.56-60.44z" />
                                <path d="M48 186.67v86.55c52 0 101.94 15.39 138.67 52.11s52 86.56 52 138.67h86.66c0-151.56-125.66-277.33-277.33-277.33z"/>
                                <path d="M48 48v86.56c185.25 0 329.22 144.08 329.22 329.44H464C464 234.66 277.67 48 48 48z"/>
                            </svg>
                        </span>
                    </a>
                </span>
            </div>
        </div>
    </nav>
</div>
<div class="box">
    <details>
        <summary>Description</summary>
        <div class="content">
            <br>
            {{description}}
        </div>
    </details>
</div>

{% endif %}
{% endblock %}