<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ title }}</title>
	<subtitle>{{ description }}</subtitle>
    <link href="{{link}}" rel="alternate"/>
	<link href="{{link}}" rel="self"/>
	<id>{{ link }}</id>
	<updated>{{ updated }}</updated>
    
	{% for post in posts %}
	<entry>
		<title>{{ post.title }}</title>
		<author><name>{{ post.username }}</name></author>
		<published>{{ post.created_at }}</published>
		<updated>{{ post.created_at }}</updated>
		<link rel="alternate" href="/post/{{ post.iid }}/{{ post.pid }}" type="text/html"/>
		<id>{{ post.pid }}</id>
		<content type="html">
			{{ post.content }}
		</content>
	</entry>
	{%- endfor %}
</feed>