{% extends "layout.html" %}

{% block content %}
<form id="inn_icon" class="box" action="/mod/inn_icon?page_type=inn&iid={{inn.iid}}" method="POST" enctype="multipart/form-data">
    <fieldset>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">
                    <figure class="image is-128x128 ml-0">
                        <img class="is-rounded" src="/static/inn_icons/{{inn.iid}}.png">
                    </figure>
                </label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="file" name="upload" required accept=".jpg, .jpeg, .png, .gif" placeholder="Upload image" />
                    </div>
                    <p class="help"> {{ "avatar_help"|l10n(page_data.lang) }}</p>
                    <div class="control">
                        <button type="submit" form="inn_icon" class="button is-link">{{ "upload"|l10n(page_data.lang) }}</button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>

<form id="inn" class="box" action="/mod/{{inn.iid}}" method="POST">
    <fieldset>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" for="inn_name">{{ "inn_name"|l10n(page_data.lang) }}</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" name="inn_name" pattern="^\D.*" required maxlength="64" value="{{inn.inn_name}}" />
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" for="about">{{ "about"|l10n(page_data.lang) }}</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" name="about" required maxlength="512" value="{{inn.about}}" />
                    </div>
                </div>
            </div>
        </div>

        {% if !inn.description.is_empty() %}
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" for="description">{{ "description"|l10n(page_data.lang) }}</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <textarea class="textarea" name="description" required maxlength="65535" minlength="1" placeholder="Long description, markdown supported" >{{inn.description}}</textarea>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" for="topics">{{ "topics"|l10n(page_data.lang) }}</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" name="topics" value='{{inn.topics|join("#")}}' required maxlength="128" placeholder='{{ "topics_help"|l10n(page_data.lang) }}' />
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" for="inn_type">{{ "inn_type"|l10n(page_data.lang) }}</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        {% if inn.inn_type == 0 %}
                        <label class="radio"><input type="radio" name="inn_type" value=0 checked /> {{ "public"|l10n(page_data.lang) }}</label>
                        <label class="radio"><input type="radio" name="inn_type" value=5 /> {{ "apply"|l10n(page_data.lang) }}</label>
                        <label class="radio"><input type="radio" name="inn_type" value=20 /> {{ "hidden"|l10n(page_data.lang) }}</label>
                        {% else if inn.inn_type == 5 %}
                        <label class="radio"><input type="radio" name="inn_type" value=0 /> {{ "public"|l10n(page_data.lang) }}</label>
                        <label class="radio"><input type="radio" name="inn_type" value=5 checked /> {{ "apply"|l10n(page_data.lang) }}</label>
                        <label class="radio"><input type="radio" name="inn_type" value=20 /> {{ "hidden"|l10n(page_data.lang) }}</label>
                        {% else if inn.inn_type == 20 %}
                        <label class="radio"><input type="radio" name="inn_type" value=0 /> {{ "public"|l10n(page_data.lang) }}</label>
                        <label class="radio"><input type="radio" name="inn_type" value=5 /> {{ "apply"|l10n(page_data.lang) }}</label>
                        <label class="radio"><input type="radio" name="inn_type" value=20 checked /> {{ "hidden"|l10n(page_data.lang) }}</label>
                        {% else if inn.inn_type == 10 %}
                        <label class="radio"><input type="radio" name="inn_type" value=10 checked /> {{ "private"|l10n(page_data.lang) }}</label>
                        <label class="radio"><input type="radio" name="inn_type" value=30 /> {{ "private_hidden"|l10n(page_data.lang) }}</label>
                        {% else if inn.inn_type == 30 %}
                        <label class="radio"><input type="radio" name="inn_type" value=10 /> {{ "private"|l10n(page_data.lang) }}</label>
                        <label class="radio"><input type="radio" name="inn_type" value=30 checked /> {{ "private_hidden"|l10n(page_data.lang) }}</label>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" for="early_birds">{{ "early_birds"|l10n(page_data.lang) }}</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="number" min="0" name="early_birds" value='{{inn.early_birds}}'  autocomplete="off" />
                    </div>
                    <p class="help">{{ "early_birds_help"|l10n(page_data.lang) }}</p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" for="limit_edit_seconds">{{ "limit_edit_seconds"|l10n(page_data.lang) }}</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="number" min="0" name="limit_edit_seconds" value='{{inn.limit_edit_seconds}}' required autocomplete="off" />
                    </div>
                    <p class="help">{{ "limit_edit_seconds_help"|l10n(page_data.lang) }}</p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label"></div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <button type="submit" form="inn" class="button is-link">{{ "save"|l10n(page_data.lang) }}</button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>

<form id="inn_feed" class="box" action="/mod/feed/{{inn.iid}}" method="POST">
    <fieldset>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" for="url">{{ "inn"|l10n(page_data.lang) }} {{ "feeds"|l10n(page_data.lang) }} {{ "url"|l10n(page_data.lang) }}</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" name="url" required maxlength="500" placeholder='{{ "feed_url_help"|l10n(page_data.lang) }}' />
                    </div>
                    <p class="help">{{ "inn_feed_help"|l10n(page_data.lang) }}</p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label"></div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <button type="submit" form="inn_feed" class="button is-link">{{ "save"|l10n(page_data.lang) }}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label"></div>
            <div class="field-body">
                <div class="content">
                    {% for feed in inn_feeds %}
                    <p>{{feed.title}} &nbsp;&nbsp;&nbsp;&nbsp; {{feed.link}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </fieldset>
</form>

<div class="divider"></div>
{% endblock %}