<!DOCTYPE html>
<html>

<head>
    {% block csp %}
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; 
    img-src 'self'; script-src 'none'; style-src 'self'; object-src 'none';
    font-src 'none'; form-action 'self'; frame-src 'none'; media-src 'none'; manifest-src 'none'; worker-src 'none';">
    {% endblock %}
    <meta charset="utf-8">
    <meta name="referrer" content="same-origin">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="icon" href="data:,">
    <title> {{ page_data.title }} </title>
</head>

<body class="has-background-grey-lighter">
    <header>
        <nav class="level is-mobile has-background-white">
            <div class="level-left navbar-item">
                <div class="level is-mobile">
                    {% block menu_left %}
                    <a class="level-item" href="/">{{page_data.site_name}}</a>
                    <div class="tabs is-small is-boxed">
                        <ul>
                            {% block tabs %}
                            <li><a href="/inn/0">Inn</a></li>
                            <li><a href="/solo/user/0">Solo</a></li>
                            <li><a href="/inn/list">Explore</a></li>
                            {% endblock %}
                        </ul>
                    </div>
                    {% endblock %}
                </div>
            </div>
            <div class="level-right navbar-item">
                <div class="level is-mobile">
                    {% block menu_right %}
                        {% match page_data.claim %} {% when Some with (val) %}
                            <a href="/feed/{{val.uid}}">
                                <span class="icon is-large">
                                    <span class="icon">
                                        {% include "icons/feeds.svg" %}
                                    </span>
                                </span>
                            </a>
                            <a href="/notification">
                                <span class="icon is-large">
                                    <span class="icon-text icon-text-info">
                                        <span class="icon">
                                            {% include "icons/notification.svg" %}
                                        </span>
                                        {% if page_data.has_unread %}
                                        <span id="notification-indicator" class="has-background-primary"></span>
                                        {% endif %}
                                    </span>
                                </span>
                            </a>
                            <a href="/signout">
                                <span class="icon is-large is-hidden-mobile">
                                    <span class="icon">
                                        {% include "icons/signout.svg" %}
                                    </span>
                                </span>
                            </a>
                            <a href="/user/setting">
                                <span class="icon is-large is-hidden-mobile">
                                    <span class="icon">
                                        {% include "icons/setting.svg" %}
                                    </span>
                                </span>
                            </a>
                            <a href="/user/{{val.uid}}">
                                <span class="icon is-large">
                                    <span class="image is-squre"><img src="/static/avatars/{{val.uid}}.png" alt="{{val.username}}"></span>
                                </span>
                            </a>
                        {% else %}
                            <div class="buttons has-addons">
                                <a href="/signin"><button class="button is-info is-small">Sign in</button></a>
                                <a href="/signup"><button class="button is-success is-small">Sign up</button></a> 
                            </div>
                        {% endmatch %}
                    {% endblock %}
                </div>
            </div>
        </nav>
    </header>

    {% block section %}
    <section class="section">
        <div class="columns">
            <main class="column is-three-quarters">
                {% block content %}{% endblock %}
            </main>
            <aside class="column">
                {% block aside %}
                    {% match page_data.claim %} {% when Some with (val) %}
                        {% if val.role == 255 %}
                            <div class="box">
                                <a href="/admin">
                                    <span class="tag is-info">Site setting</span>
                                </a>
                                <a href="/admin/view">
                                    <span class="tag is-info">Db view</span>
                                </a>
                                <a href="/admin/stats">
                                    <span class="tag is-info">Stats</span>
                                </a>
                            </div>
                        {% endif %}
                    {% else %}{% endmatch %}
                    <div class="box">
                        <a href="/user/list">
                            <span class="tag is-info">users</span>
                        </a>
                    </div>
                    {% block box %}
                    {% endblock %}
                {% endblock %}
            </aside>
        </div>
    </section>
    <div class="divider"></div>
    {% endblock %}

    <footer class="footer">
        <p><a href="https://github.com/freedit-org/freedit">GitHub</a></p>
        {% for footer_link in page_data.footer_links %}
        <p><a href="{{footer_link.1}}" target="_blank">{{footer_link.0|capitalize}}</a></p>    
        {% endfor %}
        <p><small>version: {{page_data.version}}</small></p>
        <p><small>sha256: {{page_data.sha256|truncate(10)}}</small></p>
    </footer>
</body>

</html>