<!DOCTYPE html>
<html class="has-background">

<head>
    {% block csp %}
    <meta http-equiv="Content-Security-Policy" content="default-src 'self';
    img-src 'self'; script-src 'none'; style-src 'self'; object-src 'none';
    font-src 'none'; form-action 'self'; frame-src 'none'; media-src 'none'; manifest-src 'none'; worker-src 'none';">
    {% endblock %}
    <meta charset="utf-8">
    <meta name="referrer" content="same-origin">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href='/static/style.css?v={{ crate::VERSION }}'>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <title>{{ page_data.title }}</title>

    <meta property="og:title" content="{{ page_data.title }}">
    <meta property="og:site_name" content="{{ page_data.site_name }}">

    {% block og %}
    {% endblock %}
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">{{page_data.site_name}}</a>
                </div>
                <div class="navbar-menu">
                    {% block menu_left %}
                    <div class="navbar-start">
                        {% block tabs %}
                        <a class="navbar-item" href="/inn/0">{{ "inn"|l10n(page_data.lang) }}</a>
                        <a class="navbar-item" href="/solo/user/0">{{ "solo"|l10n(page_data.lang) }}</a>
                        {% endblock %}
                    </div>
                    {% endblock %}
                    <div class="navbar-end">
                        {% block menu_right %}
                            {% match page_data.claim %} {% when Some with (val) %}
                            <a class="navbar-item" href="/feed/{{val.uid}}" title="{{ "feeds"|l10n(page_data.lang) }}">
                                <span class="icon is-large">
                                    {% include "icons/feeds.svg" %}
                                </span>
                            </a>
                            <a class="navbar-item" href="/notification">
                                <span class="icon is-large" title="{{ "notifications"|l10n(page_data.lang) }}">
                                    <span class="icon-text icon-text-info">
                                        {% include "icons/notification.svg" %}
                                        {% if page_data.has_unread %}
                                        <span id="notification-indicator" class="has-background-primary"></span>
                                        {% endif %}
                                    </span>
                                </span>
                            </a>
                            <a class="navbar-item" href="/signout" title="{{ "sign_out"|l10n(page_data.lang) }}">
                                <span class="icon is-large">
                                    {% include "icons/signout.svg" %}
                                </span>
                            </a>
                            <a class="navbar-item" href="/user/setting" title="{{ "settings"|l10n(page_data.lang) }}">
                                <span class="icon is-large">
                                    {% include "icons/setting.svg" %}
                                </span>
                            </a>
                            <a class="navbar-item" href="/user/{{val.uid}}" title="{{ "profile"|l10n(page_data.lang) }}">
                                <span class="image">
                                    <img class="is-rounded" src="/static/avatars/{{val.uid}}.png" alt="{{val.username}}">
                                </span>
                            </a>
                            {% else %}
                            <div class="buttons has-addons">
                                <a class="navbar-item" href="/signin"><button class="button is-info is-small">{{ "sign_in"|l10n(page_data.lang) }}</button></a>
                                <a class="navbar-item" href="/signup"><button class="button is-success is-small">{{ "sign_up"|l10n(page_data.lang) }}</button></a>
                            </div>
                            {% endmatch %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    {% block section %}
    <section class="section">
        <div class="container">
            <div class="columns mx-0">
                <main class="column is-three-quarters pl-0">
                    {% block content %}{% endblock %}
                </main>
                <aside class="column is-one-quarter pr-0">
                    {% block aside %}
                        <div class="panel">
                            <form id="search" action="/search" method="get">
                                <fieldset>
                                    <div class="field has-addons">
                                        <div class="control">
                                            <input class="input" name="search" type="text" placeholder='{{ "search"|l10n(page_data.lang) }}'>
                                        </div>
                                        <div class="control">
                                            <button type="submit" form="search" class="button">🔍</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        {% match page_data.claim %} {% when Some with (val) %}
                            {% if val.role == 255 %}
                                <div class="panel">
                                    <a href="/admin">
                                        <span class="tag is-info">{{ "site_settings"|l10n(page_data.lang) }}</span>
                                    </a>
                                    <a href="/admin/view">
                                        <span class="tag is-info">{{ "db_view"|l10n(page_data.lang) }}</span>
                                    </a>
                                    <a href="/admin/view?tree_name=user_stats">
                                        <span class="tag is-info">{{ "stats"|l10n(page_data.lang) }}</span>
                                    </a>
                                    <a href="/admin/gallery">
                                        <span class="tag is-info">{{ "gallery"|l10n(page_data.lang) }}</span>
                                    </a>
                                </div>
                            {% endif %}
                        {% else %}{% endmatch %}

                        {% block box %}
                        {% endblock %}
                    {% endblock %}
                </aside>
            </div>
        </div>
    </section>
    <div class="divider"></div>
    {% endblock %}

    <footer class="footer">
        <div class="container">
            {% if let Some(custom_footer_code) = page_data.custom_footer_code %}
                {{ custom_footer_code|safe }}
            {% else %}
                <p><a href="https://github.com/freedit-org/freedit">GitHub</a></p>
                <p>version: <a href="https://github.com/freedit-org/freedit/releases/tag/v{{ crate::VERSION }}">v{{ crate::VERSION }}</a></p>
                <p>sha256: {{ crate::CURRENT_SHA256.as_str() }}</p>
                <p>commit: <a href="https://github.com/freedit-org/freedit/commit/{{ crate::GIT_COMMIT }}">{{ crate::GIT_COMMIT }}</a></p>
            {% endif %}
        </div>
    </footer>
</body>

{% block extra %}
{% endblock %}

</html>
