{% extends "layout.html" %} 

{% block content %}
<div class="level is-mobile">
    <div class="level-left"></div>
    <div class="level-right tags">
        <a href="/notification?&op_type=mark_batch" class="tag is-success is-medium" title="Batch mark as read">✔️</a>
        <a href="/notification?&op_type=delete_batch" class="tag is-danger is-medium" title="Batch delete notifications you have read">❌</a>
    </div>
</div>

<div class="list has-visible-pointer-controls has-overflow-ellipsis box">
    {% for inn_nt in inn_notifications %}
    <div class="list-item">
        <div class="list-item-image is-hidden-touch">
            <figure class="image is-48x48">
                <p><a href="/user/{{inn_nt.uid}}"><img src="/static/avatars/{{inn_nt.uid}}.png"></a></p>
            </figure>
        </div>
        <div class="list-item-content">
            <div class="list-item-description">
                would like to join Inn <a href="/user/list?filter=inn&id={{inn_nt.iid}}">{{inn_nt.iid}}</a>
            </div>
        </div>
        <div class="list-item-controls">
            <form id="role" action="/role/{{inn_nt.iid}}/{{inn_nt.uid}}" method="post">
                <fieldset>
                    <div class="field has-addons">
                        <p class="control">
                            <span class="select is-small">
                                <select name="role" required autocomplete="off">
                                    <option selected>Pending</option>
                                    <option>Rejected</option>
                                    <option>Limited</option>
                                    <option>Intern</option>
                                    <option>Fellow</option>
                                    <option>Mod</option>
                                    <option>Super</option>
                                </select>
                            </span>
                        </p>
                        <div class="control">
                            <button type="submit" class="button is-success is-small">Save</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    {% endfor %}

    {% for nt in notifications %} 
    <div class="list-item">
        <div class="list-item-image is-hidden-touch">
            <figure class="image is-48x48">
                <p><a href="/user/{{nt.uid}}"><img src="/static/avatars/{{nt.uid}}.png"></a></p>
            </figure>
        </div>
        <div class="list-item-content">
            <div class="list-item-description">
                <small>{{nt.content1}}</small>
                {% if nt.is_read %}
                    {{nt.content2}}
                {% else %}
                    <strong>{{nt.content2}}</strong>
                {% endif %}
            </div>
        </div>

        <div class="list-item-controls">
            {% if !nt.is_read %}
            <a href="/notification?nid={{nt.nid}}&op_type=mark"><span class="tag is-info" title="Mark as read">✔️</span></a>
            {% endif %}
            <a href="/notification?nid={{nt.nid}}&op_type=delete"><span class="tag is-danger" title="Delete notification">❌</span></a>
        </div>
    </div>
    {% endfor %}
</div>

<div class="divider"></div>

<nav class="pagination">
    {% if anchor < n %}
        <a class="pagination-previous" disabled>{{ "prev"|l10n(page_data.lang) }}</a>
    {% else %}
        <a class="pagination-previous" href="/notification?anchor={{anchor - n}}">{{ "prev"|l10n(page_data.lang) }}</a>
    {% endif %}

    {% if notifications.len() < n %}
        <a class="pagination-next" disabled >{{ "next"|l10n(page_data.lang) }}</a>
    {% else %}
        <a class="pagination-next" href="/notification?anchor={{anchor + n}}">{{ "next"|l10n(page_data.lang) }}</a>
    {% endif %}
</nav>
{% endblock %}