{% extends "layout.html" %}

{% block csp %}
<meta http-equiv="Content-Security-Policy" content="default-src 'self';
  img-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'; object-src 'none';
  font-src 'self'; form-action 'self'; frame-src 'none'; media-src 'none'; manifest-src 'none'; worker-src 'none';">
{% endblock %}

{% block tabs %}
<a class="navbar-item" href="/inn/0">{{ "inn"|l10n(page_data.lang) }}</a>
<a class="navbar-item" href="/solo/user/0">{{ "solo"|l10n(page_data.lang) }}</a>
{% endblock %}

{% block og %}
    <meta property="og:description" content="{{ post.og_content|truncate(1000) }}">
    <link rel="alternate" type="application/atom+xml" href="/inn/{{ post.iid }}/atom.xml" />
{% endblock %}

{% block content %}
<div class="media box">
    <div class="media-content">
        <div class="content">
            <div class="title">
                {% if post.is_pinned %}
                    <span class="icon is-small mr-1">
                        <i class="fa-solid fa-thumbtack"></i>
                    </span>
                {% endif %}
                {{post.title}}
            </div>
            <span class="icon is-small mr-1">
                <i class="fa-solid fa-anchor"></i>
            </span>
            <a class="mr-2" href="/inn/{{post.iid}}">
                {{post.inn_name}}
            </a>
            <span class="icon is-small mr-1">
                <i class="fa-solid fa-user"></i>
            </span>
            <a class="mr-2" href="/user/{{post.uid}}">
                {{post.username}}
            </a>
            <span class="mr-2">
                <span class="icon is-small mr-1">
                    <i class="fa-solid fa-calendar"></i>
                </span>
                {{post.created_at}}
            </span>
            <span class="mr-2">
                <span class="icon is-small mr-1">
                    <i class="fa-solid fa-eye"></i>
                </span>
                {{pageview}}
            </span>

            {% if post.can_edit %}
                <a class="tag is-rounded mr-2" href="/post/edit/{{post.pid}}" title="{{ "edit"|l10n(page_data.lang) }}">
                    <span class="icon is-small">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </span>
                </a>
            {% endif %}

            {% if is_mod %}
                <a class="tag is-rounded mr-2" class="mr-2" href="/mod/{{post.iid}}/{{post.pid}}/lock">
                    <span class="icon is-small">
                        {% match post.status.as_str() %}
                            {% when "LockedByMod" %}
                            <i class="fa-solid fa-lock-open" title="{{ "unlock"|l10n(page_data.lang) }}"></i>
                            {% else %}
                            <i class="fa-solid fa-lock" title="{{ "lock"|l10n(page_data.lang) }}"></i>
                        {% endmatch %}
                    </span>
                </a>
                <a class="tag is-rounded mr-2" class="mr-2" href="/mod/{{post.iid}}/{{post.pid}}/hide">
                    <span class="icon is-small">
                        {% match post.status.as_str() %}
                            {% when "HiddenByMod" %}
                            <i class="fa-solid fa-eye" title="{{ "unhide"|l10n(page_data.lang) }}"></i>
                            {% else %}
                            <i class="fa-solid fa-eye-slash" title="{{ "hide"|l10n(page_data.lang) }}"></i>
                        {% endmatch %}
                    </span>
                </a>
                <a class="tag is-rounded mr-2" href="/mod/{{post.iid}}/{{post.pid}}/pin">
                    <span class="icon is-small">
                        {% if post.is_pinned %}
                        <i class="fa-solid fa-thumbtack-slash" title="{{ "unpin"|l10n(page_data.lang) }}"></i>
                        {% else %}
                        <i class="fa-solid fa-thumbtack" title="{{ "pin"|l10n(page_data.lang) }}"></i>
                        {% endif %}
                    </span>
                </a>
            {% else if is_author %}
                <a class="tag is-rounded mr-2" href="/mod/{{post.iid}}/{{post.pid}}/lock">
                    <span class="icon is-small">
                        {% match post.status.as_str() %}
                            {% when "LockedByUser" %}
                            <i class="fa-solid fa-lock-open" title="{{ "unlock"|l10n(page_data.lang) }}"></i>
                            {% when "Normal" %}
                            <i class="fa-solid fa-lock" title="{{ "lock"|l10n(page_data.lang) }}"></i>
                        {% else %}{% endmatch %}
                    </span>
                </a>
                <a class="tag is-rounded mr-2" href="/mod/{{post.iid}}/{{post.pid}}/hide">
                    {% match post.status.as_str() %}
                        {% when "HiddenByUser" %} {{ "unhide"|l10n(page_data.lang) }}
                        {% when "Normal" %} {{ "hide"|l10n(page_data.lang) }}
                        {% when "LockedByUser" %} {{ "hide"|l10n(page_data.lang) }}
                    {% else %}{% endmatch %}
                </a>
            {% endif %}
            {% if can_delete %}
                <button class="tag is-rounded" popovertarget="delete_post" title="{{ "delete"|l10n(page_data.lang) }}">
                    <span class="icon is-small">
                        <i class="fa-solid fa-trash"></i>
                    </span>
                </button>
                <div class="notification" id="delete_post" popover>
                    <h3>{{ "delete_permanently"|l10n(page_data.lang) }}</h3>
                    <p>{{ "delete_sure"|l10n(page_data.lang) }}</p>
                    <button class="button" popovertarget="delete_post" popovertargetaction="hide">
                        {{ "no"|l10n(page_data.lang) }}
                    </button>
                    <a class="button is-danger" href="/post/{{post.iid}}/{{post.pid}}/delete">
                        {{ "yes"|l10n(page_data.lang) }}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="media-right">
        <figure>
            <p class="image is-48x48 is-hidden-mobile">
                <a href="/user/{{post.uid}}"><img src="/static/avatars/{{post.uid}}.png" alt="{{post.username}}"></a>
            </p>
        </figure>
    </div>
</div>
<div class="box content">
    {{post.content_html}}
    {% for tag in post.tags %}
        <a href="/inn/tag/{{tag}}">
            <span class="tag">
                <i class="fa-solid fa-tag mr-1"></i> {{tag}}
            </span>
        </a>
    {% endfor %}
</div>

<div class="level is-mobile">
    <div class="level-item" id="upvote">
        <a class="mr-2" href="/post/{{post.iid}}/{{post.pid}}/upvote#upvote">
            <span class="button is-rounded {% if post.is_upvoted %}is-success{% endif %}">
                <span class="icon is-small">
                    <i class="fa-solid fa-thumbs-up"></i>
                </span>
                {% if post.upvotes > 0 %}
                <span class="ml-1">
                    {{post.upvotes}}
                </span>
                {% endif %}
            </span>
        </a>
        <a href="/post/{{post.iid}}/{{post.pid}}/downvote#downvote">
            <span class="button is-rounded {% if post.is_downvoted %}is-danger{% endif %}">
                <span class="icon is-small">
                    <i class="fa-solid fa-thumbs-down"></i>
                </span>
                {% if post.downvotes > 0 %}
                <span class="ml-1">
                    {{post.downvotes}}
                </span>
                {% endif %}
            </span>
        </a>
    </div>
</div>

{% if comments.len() > 0 %}
<div class="box">
    {% for comment in comments %}
    <article class="media" id="{{comment.cid}}">
        <figure class="media-left is-hidden-mobile">
            <p class="image is-48x48">
                <a href="/user/{{comment.uid}}"><img src="/static/avatars/{{comment.uid}}.png"></a>
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <small>
                        <a class="mr-2" href="/user/{{comment.uid}}">
                            {{comment.username}}
                        </a>
                        {% if comment.uid == post.uid %}
                            <span class="mr-2">[op]</span>
                        {% endif %}
                        <span class="mr-2">
                            {{comment.created_at}}
                        </span>
                        <a class="mr-2" href="/post/{{post.iid}}/{{post.pid}}/{{comment.cid}}/upvote?anchor={{anchor}}&is_desc={{is_desc}}#{{comment.cid}}">
                            <span class="tag is-rounded {% if comment.is_upvoted %}is-success{% endif %}">
                                <span class="icon is-small">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                </span>
                                {% if comment.upvotes > 0 %}
                                <span class="ml-1">
                                    {{comment.upvotes}}
                                </span>
                                {% endif %}
                            </span>
                        </a>

                        <a class="mr-2" href="/post/{{post.iid}}/{{post.pid}}/{{comment.cid}}/downvote?anchor={{anchor}}&is_desc={{is_desc}}#{{comment.cid}}">
                            <span class="tag is-rounded {% if comment.is_downvoted %}is-danger{% endif %}">
                                <span class="icon is-small">
                                    <i class="fa-solid fa-thumbs-down"></i>
                                </span>
                                {% if comment.downvotes > 0 %}
                                <span class="ml-1">
                                    {{comment.downvotes}}
                                </span>
                                {% endif %}
                            </span>
                        </a>

                        {% if is_mod %}
                        <a href="/post/{{post.iid}}/{{post.pid}}/{{comment.cid}}/hide">
                            {% if comment.is_hidden %}
                            Open
                            {% else %}
                            Hide
                            {% endif %}
                        </a>
                        {% endif %}

                        {% match page_data.claim %} {% when Some with (val) %}
                        {% if comment.uid == val.uid %}
                        <button class="tag is-rounded" popovertarget="delete_pop_{{comment.cid}}" title="{{ "delete"|l10n(page_data.lang) }}">
                            <span class="icon is-small">
                                <i class="fa-solid fa-trash"></i>
                            </span>
                        </button>
                        <div class="notification" id="delete_pop_{{comment.cid}}" popover>
                            <h3>{{ "delete_permanently"|l10n(page_data.lang) }}</h3>
                            <p>{{ "delete_sure"|l10n(page_data.lang) }}</p>
                            <button class="button" popovertarget="delete_pop_{{comment.cid}}" popovertargetaction="hide">
                                {{ "no"|l10n(page_data.lang) }}
                            </button>
                            <a class="button is-danger" href="/post/{{post.iid}}/{{post.pid}}/{{comment.cid}}/delete">
                                {{ "yes"|l10n(page_data.lang) }}
                            </a>
                        </div>
                        {% endif %}
                        {% else %}{% endmatch %}
                    </small>
                </p>
                {% if comment.is_hidden %}
                    <p><i>Hidden by mod.</i></p>
                {% else %}
                    {{comment.content}}
                {% endif %}
            </div>
        </div>
        <div class="media-right">
            <a href="/post/{{post.iid}}/{{post.pid}}?anchor={{anchor}}&is_desc={{is_desc}}#{{comment.cid}}">
                <span class="tag">#{{comment.cid}}</span>
            </a>
        </div>
    </article>
    {% endfor %}
</div>
{% endif %}

{% if post.status.as_str() != "Normal" %}
<div class="content">
    <span class="icon">
        <i class="fa-solid fa-lock"></i>
    </span>
    {{post.status}}
</div>
{% else %}
<form class="box" action="/post/{{post.iid}}/{{post.pid}}" method="POST">
    <fieldset>
        <div class="field">
            <label class="label" for="content">New comment</label>
            <div class="control">
                <div id="editor"></div>
                <noscript>
                    <style>
                        #editor { display: none !important; }
                    </style>
                    <textarea class="textarea" name="content"
                            {% if !has_joined %} disabled {% endif %}
                            required maxlength="10000"
                            placeholder="comment, markdown supported"></textarea>
                    <div class="help">
                        {{ "javascript_is_required_for_rich_editor"|l10n(page_data.lang) }}
                    </div>
                </noscript>
            </div>
        </div>
        <nav class="level is-mobile">
            <div class="level-left">
                <div class="level-item">
                    <a href="/upload" class="button is-success is-rounded" target="_blank">{{ "upload"|l10n(page_data.lang) }}</a>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <div class="field is-grouped">
                        <div class="control">
                            {% match page_data.claim %}
                            {% when Some with (val) %}
                                {% if has_joined %}
                                <button type="submit" class="button is-info is-rounded" formaction="/preview" formtarget="_blank">{{ "preview"|l10n(page_data.lang) }}</button>
                                <button type="submit" class="button is-link is-rounded">{{ "submit"|l10n(page_data.lang) }}</button>
                                {% else %}
                                <a href="/inn/{{post.iid}}/join" class="button is-success is-rounded">{{ "join_to_comment"|l10n(page_data.lang) }}</a>
                                {% endif %}
                            {% else %}
                            <a class="button is-success is-rounded" href="/signin">{{ "sign_in_to_comment"|l10n(page_data.lang) }}</a>
                            {% endmatch %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </fieldset>
</form>
{% endif %}

<nav class="pagination">
    {% if anchor < n %}
    <a class="pagination-previous" disabled>{{ "prev"|l10n(page_data.lang) }}</a>
    {% else %}
    <a class="pagination-previous" href="/post/{{post.iid}}/{{post.pid}}?anchor={{anchor- n}}&is_desc={{is_desc}}">{{ "prev"|l10n(page_data.lang) }}</a>
    {% endif %}
    {% if comments.len() < n %}
    <a class="pagination-next" disabled>{{ "next"|l10n(page_data.lang) }}</a>
    {% else %}
    <a class="pagination-next" href="/post/{{post.iid}}/{{post.pid}}?anchor={{anchor + n}}&is_desc={{is_desc}}">{{ "next"|l10n(page_data.lang) }}</a>
    {% endif %}
</nav>

{% if has_joined %}
<script src="/static/js/overtype.min.js?v={{ crate::GIT_COMMIT }}"></script>
{% endif %}

{% endblock %}