{% extends "layout.html" %}

{% block csp %}
<meta http-equiv="Content-Security-Policy" content="default-src 'self';
    img-src 'self' *.freedit.eu; script-src 'self'; style-src 'self' 'unsafe-inline'; object-src 'none';
    font-src 'none'; form-action 'self'; frame-src 'none'; media-src 'self'; manifest-src 'none'; worker-src 'none';">
{% endblock %}

{% block content %}
<article class="media box">
    <div class="media-content">
        <form id="solo" action="/post/edit/{{post.pid}}" method="post">
            <fieldset>
                <input type="hidden" name="iid" checked value={{post.iid}} required="required" autocomplete="off" />

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="title" required maxlength="256" value="{{post.title}}" placeholder='{{ "title"|l10n(page_data.lang) }}' />
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-small" type="text" name="tags" required maxlength="128" value='{{post.tags|join("#")}}' required placeholder="{{ "tags_separated_by"|l10n(page_data.lang) }}" />
                    </div>
                </div>

                <div class="field">
                    <p class="control">
                        <div id="editor" class="editor-container textarea" hidden>{{post.content}}</div>
                    </p>
                    <noscript>
                        <style>
                            #editor { display: none !important; }
                        </style>
                        <textarea name="content" class="textarea" rows="15" required maxlength="65535" placeholder="Markdown supported">{{post.content}}</textarea>
                        <p class="help">
                            JavaScript is required for rich editing; falling back to plain textarea.
                        </p>
                    </noscript>
                </div>

                <nav class="level is-mobile">
                    <div class="level-left">
                        <div class="level-item">
                            <a href="/upload" class="button is-success is-rounded" target="_blank">{{ "upload"|l10n(page_data.lang) }}</a>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <div class="field is-grouped">
                                <div class="control">
                                    <button type="submit" form="solo" class="button is-link is-rounded">{{ "submit"|l10n(page_data.lang) }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </fieldset>
        </form>
    </div>
</article>

<div class="divider"></div>
<script src="/static/js/overtype.min.js"></script>
{% endblock %}