{% extends "layout.html" %}

{% block content %}
<section class="my-5 has-background-light">
    <form id="reset" class="box" action="/user/reset" method="post">
        <fieldset>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Username or uid</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input name="username" class="input" type="text" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Recovery code</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input name="recovery_code" class="input" type="password" required minlength="7">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">New password</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input name="password" class="input" type="password" required minlength="7">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Confirm</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input name="password2" class="input" type="password" required minlength="7">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label"></div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button type="submit" form="reset" class="button is-link">Change</button>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

{% endblock %}