{% extends "layout.html" %}

{% block content %}
<form id="search" class="box" action="/search" method="GET">
    <fieldset>
        <div class="field is-horizontal has-addons">
            <div class="field-label is-normal">
                <label class="label">{{ "search"|l10n(page_data.lang) }}</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                    <input name="search" class="input" type="text" required maxlength="64" value="{{search}}">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">uid</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input name="uid" class="input" type="text"
                        {% match uid %} {% when Some(uid) %} value="{{uid}}" {% else %}{% endmatch %}>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Content type</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <div class="select">
                            <select name="ctype">
                                <option {% if ctype == "all" %} selected {% endif %} value="all">{{ "all"|l10n(page_data.lang)}}</option>
                                <option {% if ctype == "item" %} selected {% endif %} value="item">{{ "feeds"|l10n(page_data.lang)}}</option>
                                <option {% if ctype == "post" %} selected {% endif %} value="post">{{ "posts"|l10n(page_data.lang)}}</option>
                                <option {% if ctype == "comt" %} selected {% endif %} value="comt">{{ "comments"|l10n(page_data.lang)}}</option>
                                <option {% if ctype == "solo" %} selected {% endif %} value="solo">{{ "solo"|l10n(page_data.lang)}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label"></div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <button type="submit" form="search" class="button is-link">{{ "search"|l10n(page_data.lang) }}</button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>

<div class="divider"></div>

<div class="list has-visible-pointer-controls has-overflow-ellipsis box">
    {% for out in outs %}
    <div class="list-item">
        {% match out.uid %} {% when Some(uid) %}
        <div class="list-item-image">
            <figure class="image is-48x48">
                <p><a href="/user/{{uid}}"><img src="/static/avatars/{{uid}}.png"></a></p>
            </figure>
        </div>
        {% else %}{% endmatch %}
        <div class="list-item-content">
            <div class="list-item-title"><strong>
                <a href="{{ out.url }}">
                {{out.title}}</a></strong>
            </div>
            <div class="list-item-description">
                <span class="tag">{{out.date}}</span>
                <span class="tag">{{out.ctype}}</span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="divider"></div>

<nav class="pagination">
    {% if offset < 20 %}
        <a class="pagination-previous" disabled>{{ "prev"|l10n(page_data.lang) }}</a>
    {% else %}
        {% match uid %} {% when Some(uid) %}
        <a class="pagination-previous" href="/search?search={{search}}&uid={{uid}}&ctype={{ctype}}&offset={{offset-20}}">{{ "prev"|l10n(page_data.lang) }}</a>
        {% else %}
        <a class="pagination-previous" href="/search?search={{search}}&ctype={{ctype}}&offset={{offset-20}}">{{ "prev"|l10n(page_data.lang) }}</a>
        {% endmatch %}
    {% endif %}

    {% if outs.len() < 20 %}
        <a class="pagination-next" disabled>{{ "next"|l10n(page_data.lang) }}</a>
    {% else %}
        {% match uid %} {% when Some(uid) %}
        <a class="pagination-next" href="/search?search={{search}}&uid={{uid}}&ctype={{ctype}}&offset={{offset+20}}">{{ "next"|l10n(page_data.lang) }}</a>
        {% else %}
        <a class="pagination-next" href="/search?search={{search}}&ctype={{ctype}}&offset={{offset+20}}">{{ "next"|l10n(page_data.lang) }}</a>
        {% endmatch %}
    {% endif %}
</nav>
{% endblock %}

{% block aside %}
{% endblock %}