{% extends "layout.html" %}

{% block csp %}
<meta http-equiv="Content-Security-Policy" content="default-src 'self';
  img-src 'self' data:; script-src 'none'; style-src 'self'; object-src 'none';
  font-src 'self'; form-action 'self'; frame-src 'none'; media-src 'none'; manifest-src 'none'; worker-src 'none';">
{% endblock %}

{% block section %}
<section class="columns is-centered">
<div id="sign" class="my-5 column is-one-third">
    <form id="signin" class="box" action="/signin" method="post">
        <fieldset class="content">
            <h1>{{ "sign_in"|l10n(page_data.lang) }}</h1>

            <div class="field">
                <div class="control has-icons-left">
                    <input name="username" class="input" type="text" title="{{ "uname_or_id"|l10n(page_data.lang) }}" required placeholder="{{ "uname_or_id"|l10n(page_data.lang) }}" >
                    <span class="icon is-left">
                        <i class="fa-solid fa-user"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <div class="control has-icons-left">
                    <input name="password" class="input" type="password" required placeholder="{{ "password"|l10n(page_data.lang) }}">
                    <span class="icon is-left">🔑</span>
                </div>
            </div>

            <div>
                <img src="data:image/png;base64,{{captcha_image}}" alt="captcha" class="captcha" />
            </div>

            <div class="field">
                <div class="control">
                    <input name="captcha_value" class="input" required placeholder="{{ "captcha"|l10n(page_data.lang) }}" >
                </div>
            </div>

            <input type="hidden" id="captcha_id" name="captcha_id" value="{{captcha_id}}">

            <div class="field">
                <label for="remember" class="label">
                    {{ "stay_logged_in"|l10n(page_data.lang) }}
                </label>
                <div class="control">
                    <div class="select">
                        <select name="remember" required>
                            <option>30m</option>
                            <option>1h</option>
                            <option>2h</option>
                            <option selected>4h</option>
                            <option>8h</option>
                            <option>12h</option>
                            <option>1day</option>
                            <option>2days</option>
                            <option>3days</option>
                            <option>4days</option>
                            <option>5days</option>
                            <option>1week</option>
                            <option>2weeks</option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <div class="field">
                    <div class="control">
                        <button type="submit" form="signin" class="button is-link">
                            {{ "submit"|l10n(page_data.lang) }}
                        </button>
                    </div>
                </div>
                <div>
                    <a href="/signup">
                        {{ "sign_up"|l10n(page_data.lang) }}
                    </a>
                </div>
                <div>
                    <a href="/user/reset">
                        {{ "password_reset"|l10n(page_data.lang) }}
                    </a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</section>
{% endblock %}