{% extends "layout.html" %}

{% block csp %}
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; 
  img-src 'self' data:; script-src 'none'; style-src 'self'; object-src 'none';
  font-src 'none'; form-action 'self'; frame-src 'none'; media-src 'none'; manifest-src 'none'; worker-src 'none';">
{% endblock %}

{% block section %}
<section class="my-5 has-background-light">
<div id="sign" class="container py-5">
    <form id="signup" class="box" action="/signup" method="post">
        <fieldset>
            <div class="content">
                <center><h1>{{ "sign_up"|l10n(page_data.lang) }}</h1></center>
            </div>
            <div class="field">
                <div class="control has-icons-left">
                    <input name="username" class="input" type="text" pattern="^\D.*" title='{{ "user_name_help"|l10n(page_data.lang) }}' required placeholder='{{ "user_name_help"|l10n(page_data.lang) }}' minlength="1" maxlength="32">
                    <span class="icon is-left">👤</span>
                </div>
            </div>

            <div class="field">
                <div class="control has-icons-left">
                    <input name="password" class="input" type="password" title='{{ "password_help"|l10n(page_data.lang) }}' required placeholder='{{ "password_help"|l10n(page_data.lang) }}' required minlength="7">
                    <span class="icon is-left">🔑</span>
                </div>
            </div>

            <div class="field">
                <div class="control has-icons-left">
                    <input name="password2" class="input" type="password" required placeholder='{{ "re_enter_password"|l10n(page_data.lang) }}' minlength="7">
                    <span class="icon is-left">🔑</span>
                </div>
            </div>

            <div>
                <img src="data:image/png;base64,{{captcha_image}}" alt="captcha" class="captcha" />
            </div>

            <div class="field">
                <div class="control">
                    <input name="captcha_value" class="input" required placeholder='{{ "captcha"|l10n(page_data.lang) }}'  >
                </div>
            </div>

            <input type="hidden" id="captcha_id" name="captcha_id" value="{{captcha_id}}">

            <div class="field">
                <div class="control">
                    <label class="checkbox">
                    <input type="checkbox" required>
                    {{ "agree_terms"|l10n(page_data.lang) }}<a href="{{ tos_link }}" target="_blank">{{ "terms"|l10n(page_data.lang) }}</a>
                </label>
                </div>
            </div>

            <center>
                <div class="field">
                    <div class="control">
                        <button type="submit" form="signup" class="button is-link">{{ "submit"|l10n(page_data.lang) }}</button>
                    </div>
                </div>
                <p><center>{{ "already_have_account"|l10n(page_data.lang) }} <a href="/signin">{{ "sign_in"|l10n(page_data.lang) }}</a></center></p>
            </center>
        </fieldset>
    </form>
</div>
</section>
{% endblock %}