{% extends "layout.html" %} 

{% block tabs %}
    {% if page_data.claim.is_some() %}
    <li class="is-active"><a href="/inn/0">Inn</a></li>
    <li><a href="/solo/user/0">Solo</a></li>
    <li><a href="/inn/list">Explore</a></li>
    {% else %}
    <li class="is-active"><a href="/static/inn/0/1/index.html">Inn</a></li>
    <li><a href="/solo/user/0">Solo</a></li>
    <li><a href="/static/inn/list/1/index.html">Explore</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<div class="level is-mobile">
    <div class="level-left">
        <div class="tabs is-small is-toggle is-toggle-rounded">
            <ul>
                <li><a href="/inn/0">All</a></li>
                {% if page_data.claim.is_some() %}
                <li><a href="/inn/0?filter=joined">Joined</a></li>
                <li><a href="/inn/0?filter=following">Following</a></li>
                {% endif %}
                <li class="is-active"><a href="/inn/tag/{{tag}}">🏷️ {{tag}}</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="list has-visible-pointer-controls has-overflow-ellipsis box">
    {% for post in posts %}
    <div class="list-item">
        <div class="list-item-image">
            <figure class="image is-48x48">
                <p><a href="/user/{{post.uid}}" title="{{post.username}}"><img src="/avatars/{{post.uid}}.png"></a></p>
            </figure>
        </div>
        <div class="list-item-content">
            <div class="list-item-title"><strong><a href="/post/{{post.iid}}/{{post.pid}}">{{post.title}}</a></strong></div>
            <div class="list-item-description">
                <span class="tag is-light is-link"><a href="/inn/{{post.iid}}">{{post.inn_name}}</a></span>
                <span class="tag">{{post.created_at}}</span>
            </div>
        </div>
        <div class="list-item-controls">
            {% if post.comment_count >0 %}
            <a href="/post/{{post.iid}}/{{post.pid}}#{{post.comment_count}}"><span class="tag is-info">{{post.comment_count}}</span></a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<nav class="pagination">
    {% if anchor < n %}
        <a class="pagination-previous" disabled>Prev</a>
    {% else %}
        <a class="pagination-previous" href="/inn/tag/{{tag}}?anchor={{anchor - n}}&is_desc={{is_desc}}">Prev</a>
    {% endif %}

    {% if posts.len() < n %}
        <a class="pagination-next" disabled >Next</a>
    {% else %}
        <a class="pagination-next" href="/inn/tag/{{tag}}?anchor={{anchor + n}}&is_desc={{is_desc}}">Next</a>
    {% endif %}
</nav>

{% endblock %}