{% extends "layout.html" %}

{% block content %}

<div class="box">
    <a class="button is-success" href="/gallery/{{uid}}" target="_blank">{{ "gallery"|l10n(page_data.lang) }}</a>
</div>

<form id="upload" class="box" action="/upload" method="POST" enctype="multipart/form-data">
    <fieldset>
        <div class="field">
            <div class="control">
                <input class="input" type="file" name="imgs" required accept=".jpg, .jpeg, .png, .gif, .webp" placeholder="Upload image" multiple/>
            </div>
            <p class="help">{{ "upload_help"|l10n(page_data.lang) }}</p>
            <div class="control">
                <button type="submit" form="upload" class="button is-link">{{ "upload"|l10n(page_data.lang) }}</button>
            </div>
        </div>
    </fieldset>
</form>

<div class="content">
    {% for img in imgs %}
    <figure>
        <img src="/static/upload/{{img}}">
        <figcaption>
            <code>![](/static/upload/{{img}})</code>
        </figcaption>
    </figure>
    {% endfor %}

    {% for img in imgs %}
        <code>![](/static/upload/{{img}})</code><br>
    {% endfor %}

</div>

<div class="divider"></div>
{% endblock %}