{% extends "layout.html" %}

{% block content %}
{% if !has_recovery_code %}
<div class="box">
    <article class="message is-warning">
        <div class="message-header">
            <p>{{ "warning"|l10n(page_data.lang) }}</p>
        </div>
        <div class="message-body">
            {{ "recovery_code_msg"|l10n(page_data.lang) }}
            <br>
            <a href="/user/setting#recovery">{{ "recovery_generate"|l10n(page_data.lang) }}</a>
        </div>
    </article>
</div>
{% endif %}

<article class="media box">
    <figure class="media-left">
        <p class="image is-64x64">
            <a href="/user/{{user.uid}}"><img class="image is-64x64" src="/static/avatars/{{user.uid}}.png"></a>
        </p>
        <p><small>{{user.role_desc}}</small></p>
        <p><small>uid: {{user.uid}}</small></p>
    </figure>
    <div class="media-content">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <div class="content">
                        <p class="title">{{user.username}}</p>
                    </div>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <a href="/message/{{user.uid}}" title="{{ "message"|l10n(page_data.lang) }}">
                        <span class="icon is-large">
                            <span class="icon">
                                {% include "icons/mail.svg" %}
                            </span>
                        </span>
                    </a>
                {% match has_followed %} {% when Some with (true) %}
                    <a href="/user/{{user.uid}}/follow" title="{{ "unfollow"|l10n(page_data.lang) }}">
                        <span class="icon is-large">
                            <span class="icon has-text-success">
                                {% include "icons/user-xmark.svg" %}
                            </span>
                        </span>
                    </a>
                {% when Some with (false) %}
                    <a href="/user/{{user.uid}}/follow" title="{{ "follow"|l10n(page_data.lang) }}">
                        <span class="icon is-large">
                            <span class="icon">
                                {% include "icons/user-plus.svg" %}
                            </span>
                        </span>
                    </a>
                {% else %}
                    {% match page_data.claim %}{% when Some with (val) %}
                    {% if val.uid == user.uid %}
                    <a href="/user/setting" title="{{ "settings"|l10n(page_data.lang) }}">
                        <span class="icon is-large">
                            <span class="icon">
                                <i class="fa-solid fa-gear"></i>
                            </span>
                        </span>
                    </a>
                    <a href="/signout" title="{{ "sign_out"|l10n(page_data.lang) }}">
                        <span class="icon is-large">
                            <span class="icon">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            </span>
                        </span>
                    </a>
                    {% endif %}
                    {% else %}{% endmatch %}
                {% endmatch %}
                </div>
            </div>
        </div>
        <div class="content">
            <p><b>{{ "created"|l10n(page_data.lang) }}</b>: {{user.created_at}}</p>
            <p><b>{{ "url"|l10n(page_data.lang) }}</b>: <a href="{{user.url}}">{{user.url}}</a></p>
            <p><b>{{ "about"|l10n(page_data.lang) }}</b>: {{user.about}}</p>
        </div>
    </div>
</article>

<div class="box">
    <nav class="level is-mobile">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">{{ "solo"|l10n(page_data.lang) }}</p>
                <p class="title"><a href="/solo/user/{{user.uid}}">{{user_solos_count}}</a></p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">{{ "posts"|l10n(page_data.lang) }}</p>
                <p class="title">
                    <a href="/inn/0?filter={{user.uid}}">{{user_posts_count}}</a>
                </p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">{{ "feeds"|l10n(page_data.lang) }}</p>
                <p class="title"><a href="/feed/{{user.uid}}">{{user_feeds_count}}</a></p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">{{ "following"|l10n(page_data.lang) }}</p>
                <p class="title"><a href="/user/list?filter=following&id={{user.uid}}">{{user_following_count}}</a></p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">{{ "followers"|l10n(page_data.lang) }}</p>
                <p class="title"><a href="/user/list?filter=followers&id={{user.uid}}">{{user_followers_count}}</a></p>
            </div>
        </div>
    </nav>
</div>
<div class="divider"></div>

{% endblock %}